:root {
  --primary-color: #2D65B9;
  --secondary-color: #448fff;
  --dark-grey: #535d72;
  --black: var(--black);
  --heading-font-weight: 700;
}

a {
  color: var(--secondary-color);
}

a:visited {
  color: #6623b3;
}

a:hover,
a:focus {
  text-decoration: none;
}

.main-navigation.page-header__item{
  align-items: center;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 300px;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  align-self: center;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  border-bottom: 2px solid #838383;
}

@media screen and (max-width: 600px) {
  .page-header {
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding-left: 25px;
  }

  .page-header__item:last-child {
    flex-grow: 1;
    text-align: center;
    border-bottom: 2px solid #838383;
  }

  .navigation-list {
    margin-top: 20px;
    padding-left: 0;
  }

  .navigation-list li {
    display: block;
    margin: 10px 0;
  }
}

body {
  background-color: #fffafa;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  padding: 12px;
  margin: 12px;
  max-width: 100%;
  overflow-x: hidden;
}

@media (max-width: 320px) {
  body {
    font-size: 14px;
  }
}

h1,
h2,
h3 {
  font-weight: var(--heading-font-weight);
}

h1 {
  font-size: 1.875rem;
  color: var(--primary-color);
}

h2 {
  font-size: 1.5rem;
  color: var(--black);
}

h3 {
  font-size: 1.125rem;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

#background_image {
  height: auto;
  margin: auto;
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: #fffafa;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #0000004d;
  transition-duration: 0.9s;
  transition-property: opacity;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.about-me {
  text-align: center;
  margin: auto;
}

.about-text {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.about-text p {
  max-width: 100%;
}

.cv-button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: #fffafa;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #0000004d;
  transition-duration: 0.9s;
  transition-property: opacity;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.navigation-links {
  display: inline-block;
  align-content: center;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.navigation-list li {
  display: inline-block;
  margin-right: 20px;
}
.contact-header{
  text-align: center;
  margin-top: 100px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.contact-info{
  margin-right: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  text-align: center;
}

#submit-button {
  margin-top: 20px;
  align-self: center;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
  }
  

  .contact-info,
  .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
}



.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: #b8cfff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
  border: 4px solid var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }

  .profile__portrait {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Media Queries */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@keyframes letter-shrink {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0, 0);
  }
}

/* Consolidated animation styles for letters */
.letter {
  animation-timing-function: ease-out;
  cursor: pointer;
  opacity: 0.0;
  height: auto;
  width: auto;
  margin: auto;
}

/* Example usage of consolidated animation styles */
.letter_m {
  animation: 2s letter-shrink;
  height: auto;
  margin: auto;
}

.letter_o {
  animation: 3s letter-shrink;
  height: auto;
  margin: auto;
}

.letter_n {
  animation: 4s letter-shrink ease-out;
  height: auto;
  margin: auto;
}

.letter_r {
  animation: 5s letter-shrink ease-out;
  height: auto;
  margin: auto;
}

.letter_o_2 {
  animation: 6s letter-shrink ease-out;
  height: auto;
  margin: auto;
}

.letter_e {
  animation: 7s letter-shrink ease-out;
  height: auto;
  margin: auto;
}

.button:hover,
.button:focus,
.letter_m:hover,
.letter_m:focus,
.button:hover,
.button:focus,
.letter_o:hover,
.letter_o:focus,
.button:hover,
.button:focus,
.letter_n:hover,
.letter_n:focus,
.button:hover,
.button:focus,
.letter_r:hover,
.letter_r:focus,
.button:hover,
.button:focus,
.letter_o_2:hover,
.letter_o_2:focus,
.button:hover,
.button:focus,
.letter_e:hover,
.letter_e:focus {
  cursor: pointer;
  opacity: 0.0;
}

.svg-container {
  margin: 0 auto;
}

#about-picture {
  width: 800px;
  height: auto;
}

@media (max-width: 768px) {
  #about-picture {
    width: 350px;
    height: auto;
  }
}
